/* Reset some default styles to ensure consistent rendering across browsers */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff7df;
  overflow-x: hidden;
}

/* Style the header */
header {
  color: #000000;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

header h2 {
  margin-top: 2.5px;
}

header nav ul {
  display: flex;
  list-style: none;
  padding-top: 10px;
}

header nav ul li {
  margin-left: 1rem;
}

header nav ul li:first-child {
  margin-left: 0;
}

header nav ul li a {
  color: #2c2c2c;
  text-decoration: none;
}

header nav ul li a:hover {
  text-decoration: underline;
}

/* Style the main section */
main {
  padding: 20%;

}

main h1 {
  font-size: 2rem;
  background-color: rgba(255, 247, 223, 0.7);
}

section {
  margin-bottom: 2rem;
}

section h2 {
  margin-bottom: 0.5rem;
  z-index: 1;
}

section p {
  font-size: 1rem;
  line-height: 1;
  margin-top: 10px;
  z-index: 1;
}

#head {
  padding-right: 50px;
}

#img img {
    position: relative;
    display: grid;
    z-index: -1;
    padding: 0px;
}

.imgc {
  margin-top: -340px;
  margin-left: 460px;
  max-height: 500px;
  padding: 0px;
}




/* Style the footer */
footer {
  color: #202020;
  padding: 1rem;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

footer p {
  text-align: left;
  font-size: 0.8rem;
}

@media only screen and (max-width: 600px) {
  .imgc {
    margin-top: -140px;
    margin-left: 60px;
    max-height: 300px;
  }
}

.d {
  transition: all 0.2s ease;
}

.d:hover {
  color: #000000;
  background-color: #fff7df;;
}

.d::selection {
  padding:0;
}


::-webkit-scrollbar {
  width: 3px;
}

.imgbg {
  z-index: -1;
  filter: blur(500px);
  margin-top: -700px;
}

/* Track */
/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  background: #fff7df; 
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
  background: #fff7df; 
}

::-moz-selection { /* Code for Firefox */
  color: rgb(255, 255, 255);
  background: rgb(0, 0, 0);

}

::selection {
  color: rgb(255, 255, 255);
  background: rgb(0, 0, 0);
  
  margin:10px;
}